<?xml version="1.0" encoding="utf-8"?>
<widget id="com.dreamguys.apirtc" version="0.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>APIRTC</name>
    <description>
        Chat app.
    </description>
    <author email="dreamguystech@gmail.com" href="http://dreamguys.co.in/">
        DreamGuy's
    </author>
    
    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/media" />

	
	<preference name='phonegap-version' value='cli-5.1.1' />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="load-url-timeout" value="40000" />
    <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
    
    <plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />
    <access origin="*" />
</widget>